
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="bi-file-richtext"></i>
            docconvert
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="bi-file-text"></i>
                        Documents
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/random">
                        <i class="bi-dice-6"></i>
                        Random
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/alexcoder04/docconvert" target="_blank">
                        <i class="bi-github"></i>
                        GitHub
                        <i class="bi-box-arrow-up-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
