<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head.html"}}

    <script src="/static/random.js" defer></script>
    <script src="/static/tabs.js" defer></script>
</head>


<body>
    
{{template "navbar.html"}}

<main class="container-fluid mt-3">
    <div class="container mt-5">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#number">
                    <i class="bi-calculator"></i>
                    Number
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#name">
                    <i class="bi-emoji-sunglasses"></i>
                    Name
                </button>
            </li>
        </ul>

        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="number">
                <h2>Random Number Generator</h2>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="minNumber" class="form-label">Minimum Number:</label>
                        <input type="number" class="form-control" id="minNumber" min="0" value="1">
                    </div>
                    <div class="col-md-6">
                        <label for="maxNumber" class="form-label">Maximum Number:</label>
                        <input type="number" class="form-control" id="maxNumber" min="0" value="6">
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-lg mb-3" id="generateNumber">
                    <i class="bi-shuffle"></i>
                    Generate Number
                </button>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="generatedNumber" readonly>
                    <button class="btn btn-outline-primary" type="button" id="copyButton">
                        <i class='bi-clipboard'></i>
                        Copy
                    </button>
                </div>
            </div>


            <div class="tab-pane fade" id="name">
                <div class="row mb-4">
                    <div class="col">
                        <h2>Pick Random Name</h2>
                        <ul id="name-list" class="list-group"></ul>
                      </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <div class="input-group">
                            <input id="new-name" type="text" class="form-control" placeholder="Enter a new name...">
                            <button id="add-name" class="btn btn-primary">
                                <i class="bi-plus-square"></i>
                                Add
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <button id="pick-random" class="btn btn-success">
                            <i class="bi-shuffle"></i>
                            Pick a Random Name
                        </button>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="pickedName" readonly>
                    <button class="btn btn-outline-primary" type="button" id="copyNameButton">
                        <i class='bi-clipboard'></i>
                        Copy
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>